<% if @query.errors.any? %>
  <div class="alert alert-danger"><%= @query.errors.full_messages.first %></div>
<% end %>

<% @variable_params = @query.persisted? ? variable_params(@query) : nested_variable_params(@query) %>

<div id="app" v-cloak>
  <%= form_for @query, url: (@query.persisted? ? query_path(@query, params: @variable_params) : queries_path(params: @variable_params)), html: {autocomplete: "off"}, data: { controller: "unsaved", action: "unsaved#clear input->unsaved#set" } do |f| %>
    <div class="row">
      <div id="statement-box" class="col-12 col-md-8">
        <div class="form-group">
          <%= f.hidden_field :statement %>
          <div id="editor-container">
            <div id="editor" :style="{ height: editorHeight }"><%= @query.statement %></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4 my-2">
            <%= link_to "Back", :back, class: "me-2" %>
            <a :href="docsPath" target="_blank" class="m-2">Docs</a>
            <a :href="schemaPath" target="_blank" class="m-2">Schema</a>
          </div>

          <div class="col-12 col-md-4 my-2">
            <%= f.select :data_source, Blazer.data_sources.map { |_, ds| [ds.name, ds.id] }, {}, class: ("hide" if Blazer.data_sources.size <= 1) %>
          </div>
          <div class="col-12 col-md-4 my-2">
            <select id="table_names" placeholder="Preview table"></select>
          </div>
        </div>
        <div class="form-group">
          <a v-on:click="run" v-if="!running" class="btn btn-info" style="vertical-align: top; width: 70px;">Run</a>
          <a v-on:click="cancel" v-if="running" class="btn btn-danger" style="vertical-align: top; width: 70px;">Cancel</a>
          <% if Blazer.ai? %>
            <a v-on:click="toggleAiPanel" class="btn btn-outline-secondary ai-btn ms-2" :class="{ active: showAiPanel }" style="vertical-align: top;">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                <path d="M6 12.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5ZM3 8.062C3 6.76 4.235 5.765 5.53 5.886a26.58 26.58 0 0 0 4.94 0C11.765 5.765 13 6.76 13 8.062v1.157a.933.933 0 0 1-.765.935c-.845.147-2.34.346-4.235.346-1.895 0-3.39-.2-4.235-.346A.933.933 0 0 1 3 9.219V8.062Zm4.542-.827a.25.25 0 0 0-.217.068l-.92.9a24.767 24.767 0 0 1-1.871-.183.25.25 0 0 0-.068.495c.55.076 1.232.149 2.02.193a.25.25 0 0 0 .189-.071l.754-.736.847 1.71a.25.25 0 0 0 .404.062l.932-.97a25.286 25.286 0 0 0 1.922-.188.25.25 0 0 0-.068-.495c-.538.074-1.207.145-1.98.189a.25.25 0 0 0-.166.076l-.754.785-.842-1.7a.25.25 0 0 0-.182-.135Z"/>
                <path d="M8.5 1.866a1 1 0 1 0-1 0V3h-2A4.5 4.5 0 0 0 1 7.5V8a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v1a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1v-.5A4.5 4.5 0 0 0 10.5 3h-2V1.866ZM14 7.5V13a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.5A3.5 3.5 0 0 1 5.5 4h5A3.5 3.5 0 0 1 14 7.5Z"/>
              </svg>
              AI
            </a>
          <% end %>
        </div>
        <% if Blazer.ai? %>
          <div v-if="showAiPanel" class="ai-panel">
            <div class="mb-2">
              <label class="form-label">Ask AI</label>
              <div class="input-group">
                <input type="text" v-model="aiPrompt" class="form-control" placeholder="Describe what data you need..." v-on:keyup.enter="generateSql" :disabled="aiLoading">
                <button class="btn btn-primary" type="button" v-on:click="generateSql" :disabled="aiLoading || !aiPrompt">
                  <span v-if="aiLoading" class="spinner-border spinner-border-sm" role="status"></span>
                  <span v-else>Generate</span>
                </button>
              </div>
            </div>
            <div class="d-flex gap-2 flex-wrap">
              <button class="btn btn-sm btn-outline-secondary" type="button" v-on:click="explainQuery" :disabled="aiLoading">Explain Query</button>
              <button class="btn btn-sm btn-outline-secondary" type="button" v-on:click="suggestOptimizations" :disabled="aiLoading">Optimize</button>
              <button v-if="lastError" class="btn btn-sm btn-outline-warning" type="button" v-on:click="fixError" :disabled="aiLoading">Fix Error</button>
            </div>
            <div v-if="aiResponse" class="ai-response">{{ aiResponse }}</div>
            <div v-if="aiError" class="ai-error">{{ aiError }}</div>
          </div>
        <% end %>
      </div>
      <div class="cold-12 col-md-4">
        <div class="form-group mb-3">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group mb-3">
          <%= f.label :description %>
          <%= f.text_area :description, placeholder: "Optional", style: "height: 80px;", class: "form-control" %>
        </div>
        <div class="form-group text-end mb-3">
          <%= f.submit "For Enter Press", class: "hide" %>
          <% if @query.persisted? %>
            <%= link_to "Delete", query_path(@query), method: :delete, "data-confirm" => "Are you sure?", class: "btn btn-danger" %>
            <%= f.submit "Fork", class: "btn btn-info" %>
          <% end %>
          <%= f.submit @query.persisted? ? "Update" : "Create", class: "btn btn-success" %>
        </div>
        <% if @query.persisted? %>
          <% dashboards_count = @query.dashboards.count %>
          <% checks_count = @query.checks.count %>
          <% words = [] %>
          <% words << pluralize(dashboards_count, "dashboard") if dashboards_count > 0 %>
          <% words << pluralize(checks_count, "check") if checks_count > 0 %>
          <% if words.any? %>
            <div class="alert alert-info">
              Part of <%= words.to_sentence %>. Be careful when editing.
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div id="results">
    <p class="text-muted" v-if="running">Loading...</p>
    <div id="results-html" v-if="!running" :class="{ 'query-error': error }"></div>
  </div>
</div>

<script>
  <%= blazer_js_var "variableParams", @variable_params %>
  <%= blazer_js_var "previewStatement", Blazer.data_sources.to_h { |k, v| [k, (v.preview_statement rescue "")] } %>

  var aiEnabled = <%= Blazer.ai? %>

  var app = Vue.createApp({
    data: function() {
      return {
        running: false,
        results: "",
        error: false,
        dataSource: "",
        selectize: null,
        editorHeight: "180px",
        // AI state
        showAiPanel: false,
        aiPrompt: "",
        aiResponse: "",
        aiError: "",
        aiLoading: false,
        lastError: ""
      }
    },
    computed: {
      schemaPath: function() {
        return Routes.schema_queries_path({data_source: this.dataSource})
      },
      docsPath: function() {
        return Routes.docs_queries_path({data_source: this.dataSource})
      }
    },
    methods: {
      run: function(e) {
        this.running = true
        this.results = ""
        this.error = false
        cancelAllQueries()

        var data = {statement: this.getSQL(), data_source: $("#query_data_source").val(), variables: variableParams}

        var _this = this

        runQuery(data, function (data) {
          _this.running = false
          _this.showResults(data)

          errorLine = _this.getErrorLine()
          if (errorLine) {
            editor.getSession().addGutterDecoration(errorLine - 1, "error")
            editor.scrollToLine(errorLine, true, true, function () {})
            editor.gotoLine(errorLine, 0, true)
            editor.focus()
          }
        }, function (data) {
          _this.running = false
          _this.error = true
          _this.showResults(data)
        })
      },
      cancel: function(e) {
        this.running = false
        cancelAllQueries()
      },
      updateDataSource: function(dataSource) {
        this.dataSource = dataSource
        var selectize = this.selectize
        selectize.clearOptions()

        if (this.tablesXhr) {
          this.tablesXhr.abort()
        }

        this.tablesXhr = $.getJSON(Routes.tables_queries_path({data_source: this.dataSource}), function(data) {
          var newOptions = []
          for (var i = 0; i < data.length; i++) {
            var table = data[i]
            if (typeof table === "object") {
              newOptions.push({text: table.table, value: table.value})
            } else {
              newOptions.push({text: table, value: table})
            }
          }
          selectize.clearOptions()
          selectize.addOption(newOptions)
          selectize.refreshOptions(false)
        })
      },
      showEditor: function() {
        var _this = this

        editor = ace.edit("editor")
        editor.setTheme("ace/theme/twilight")
        editor.getSession().setMode("ace/mode/sql")
        editor.setOptions({
          enableBasicAutocompletion: false,
          enableSnippets: false,
          enableLiveAutocompletion: false,
          highlightActiveLine: false,
          fontSize: 12,
          minLines: 10
        })
        editor.renderer.setShowGutter(true)
        editor.renderer.setPrintMarginColumn(false)
        editor.renderer.setPadding(10)
        editor.getSession().setUseWrapMode(true)
        editor.commands.addCommand({
          name: "run",
          bindKey: {win: "Ctrl-Enter",  mac: "Command-Enter"},
          exec: function(editor) {
            _this.run()
          },
          readOnly: false // false if this command should not apply in readOnly mode
        })
        // fix command+L
        editor.commands.removeCommands(["gotoline", "find"])

        this.editor = editor

        editor.getSession().on("change", function () {
          $("#query_statement").val(editor.getValue())
          _this.adjustHeight()
        })
        this.adjustHeight()
        editor.focus()
      },
      adjustHeight: function() {
        // https://stackoverflow.com/questions/11584061/
        var editor = this.editor
        var lines = editor.getSession().getScreenLength()
        if (lines < 9) {
          lines = 9
        }

        this.editorHeight = ((lines + 1) * 16).toString() + "px"

        Vue.nextTick(function () {
          editor.resize()
        })
      },
      getSQL: function() {
        var selectedText = editor.getSelectedText()
        var text = selectedText.length < 10 ? editor.getValue() : selectedText
        return text.replace(/\n/g, "\r\n")
      },
      getErrorLine: function() {
        var editor = this.editor
        var errorLine = this.results.substring(0, 100).includes("alert-danger") && /LINE (\d+)/g.exec(this.results)

        if (errorLine) {
          errorLine = parseInt(errorLine[1], 10)
          if (editor.getSelectedText().length >= 10) {
            errorLine += editor.getSelectionRange().start.row
          }
          return errorLine
        }
      },
      showResults(data) {
        // can't do it the Vue way due to script tags in results
        // this.results = data

        Vue.nextTick(function () {
          $("#results-html").html(data)
        })

        // Check for error to enable "Fix Error" button
        if (data && data.includes('alert-danger')) {
          var errorMatch = data.match(/class="alert alert-danger"[^>]*>([^<]+)/)
          if (errorMatch) {
            this.lastError = errorMatch[1].trim()
          }
        } else {
          this.lastError = ""
        }
      },
      // AI methods
      toggleAiPanel: function() {
        this.showAiPanel = !this.showAiPanel
        this.aiResponse = ""
        this.aiError = ""
      },
      generateSql: function() {
        if (!this.aiPrompt || this.aiLoading) return

        this.aiLoading = true
        this.aiResponse = ""
        this.aiError = ""

        var _this = this
        $.ajax({
          url: Routes.ai_generate_sql_path(),
          method: "POST",
          data: {
            prompt: this.aiPrompt,
            data_source: this.dataSource
          },
          headers: {
            "X-CSRF-Token": $('meta[name="csrf-token"]').attr('content')
          },
          success: function(response) {
            _this.aiLoading = false
            if (response.sql) {
              editor.setValue(response.sql, 1)
              _this.aiResponse = "SQL generated! Press Run to execute."
              _this.adjustHeight()
            }
          },
          error: function(xhr) {
            _this.aiLoading = false
            var error = xhr.responseJSON ? xhr.responseJSON.error : "Unknown error"
            _this.aiError = error
          }
        })
      },
      explainQuery: function() {
        var sql = this.getSQL()
        if (!sql.trim() || this.aiLoading) return

        this.aiLoading = true
        this.aiResponse = ""
        this.aiError = ""

        var _this = this
        $.ajax({
          url: Routes.ai_explain_path(),
          method: "POST",
          data: {
            sql: sql,
            data_source: this.dataSource
          },
          headers: {
            "X-CSRF-Token": $('meta[name="csrf-token"]').attr('content')
          },
          success: function(response) {
            _this.aiLoading = false
            _this.aiResponse = response.explanation
          },
          error: function(xhr) {
            _this.aiLoading = false
            var error = xhr.responseJSON ? xhr.responseJSON.error : "Unknown error"
            _this.aiError = error
          }
        })
      },
      fixError: function() {
        var sql = this.getSQL()
        if (!sql.trim() || !this.lastError || this.aiLoading) return

        this.aiLoading = true
        this.aiResponse = ""
        this.aiError = ""

        var _this = this
        $.ajax({
          url: Routes.ai_fix_error_path(),
          method: "POST",
          data: {
            sql: sql,
            error_message: this.lastError,
            data_source: this.dataSource
          },
          headers: {
            "X-CSRF-Token": $('meta[name="csrf-token"]').attr('content')
          },
          success: function(response) {
            _this.aiLoading = false
            if (response.sql) {
              editor.setValue(response.sql, 1)
              _this.aiResponse = "Query fixed! Press Run to test."
              _this.lastError = ""
              _this.adjustHeight()
            }
          },
          error: function(xhr) {
            _this.aiLoading = false
            var error = xhr.responseJSON ? xhr.responseJSON.error : "Unknown error"
            _this.aiError = error
          }
        })
      },
      suggestOptimizations: function() {
        var sql = this.getSQL()
        if (!sql.trim() || this.aiLoading) return

        this.aiLoading = true
        this.aiResponse = ""
        this.aiError = ""

        var _this = this
        $.ajax({
          url: Routes.ai_suggest_optimizations_path(),
          method: "POST",
          data: {
            sql: sql,
            data_source: this.dataSource
          },
          headers: {
            "X-CSRF-Token": $('meta[name="csrf-token"]').attr('content')
          },
          success: function(response) {
            _this.aiLoading = false
            _this.aiResponse = response.suggestions
          },
          error: function(xhr) {
            _this.aiLoading = false
            var error = xhr.responseJSON ? xhr.responseJSON.error : "Unknown error"
            _this.aiError = error
          }
        })
      }
    },
    mounted: function() {
      var _this = this

      var $select = $("#table_names").selectize({})
      var selectize = $select[0].selectize
      selectize.on("change", function(val) {
        editor.setValue(previewStatement[_this.dataSource].replace("{table}", val), 1)
        _this.run()
        selectize.clear(true)
        selectize.blur()
      })
      this.selectize = selectize

      this.updateDataSource($("#query_data_source").val())

      var $dsSelect = $("#query_data_source").selectize({})
      var dsSelectize = $dsSelect[0].selectize
      dsSelectize.on("change", function(val) {
        _this.updateDataSource(val)
        dsSelectize.blur()
      })

      this.showEditor()
    }
  })
  app.config.compilerOptions.whitespace = "preserve"
  app.mount("#app")
</script>
