<% blazer_title @query.name %>
<% content_for :nav do %>
  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
    <li class="navbar-brand d-none d-sm-inline text-wrap"><%= @query.name %></li>
    <li class="nav-item">
      <%= link_to "Edit", blazer.edit_query_path(@query, params: variable_params(@query)), class: "nav-link", disabled: !@query.editable?(blazer_user) %>
    </li>
    <li class="nav-item">
      <%= link_to "Fork", blazer.new_query_path(params: {variables: variable_params(@query), fork_query_id: @query.id, data_source: @query.data_source, name: @query.name}), class: "nav-link" %>
    </li>
    <li class="nav-item dropdown">
      <% if !@error && @success %>
        <%= button_to "Download", blazer.run_queries_path(format: "csv"), params: @run_data, class: "nav-link" %>
      <% end %>
    </li>
  </ul>
<% end %>

<% if @sql_errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @sql_errors.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if @query.description.present? %>
  <p class="text-pre-line"><%= @query.description %></p>
<% end %>

<%= render partial: "blazer/variables", locals: {action: query_path(@query)} %>

<div class="row">
  <details class="col-12">
    <summary class="btn btn-info">Show source</summary>
    <pre id="code">
      <code data-controller="code"><%= @statement.display_statement %></code>
    </pre>
  </details>
</div>

<% if @success %>
  <div id="results">
    <p class="text-muted">Loading...</p>
  </div>

  <script>
    function showRun(data) {
      $("#results").html(data)
      $("#results table").stupidtable(stupidtableCustomSettings).stickyTableHeaders({fixedOffset: 56})
    }

    function showError(message) {
      $("#results").addClass("query-error").html(message)
    }

    <%= blazer_js_var "data", @run_data %>

    runQuery(data, showRun, showError)
  </script>
<% end %>
