<% if @bind_vars.any? %>
  <% var_params = request.query_parameters %>
  <script>
    <%= blazer_js_var "timeZone", Blazer.time_zone.tzinfo.name %>
  </script>
  <form id="bind" method="get" action="<%= action %>" class="form-inline" style="margin-bottom: 15px;" data-controller="autosubmit" data-action="change->autosubmit#call">
    <% date_vars = ["start_time", "end_time"] %>
    <% if (date_vars - @bind_vars).empty? %>
      <% @bind_vars = @bind_vars - date_vars %>
    <% else %>
      <% date_vars = nil %>
    <% end %>

    <% @bind_vars.each_with_index do |var, i| %>
      <div class="form-group">
      <%= label_tag var, var %>
      <% if (data = @smart_vars[var]) %>
        <%= select_tag var, options_for_select([[nil, nil]] + data, selected: var_params[var]), data: { controller: "selectize" }, style: "margin-right: 20px; width: 200px; display: none;" %>
      <% elsif var.end_with?("_at") || var == "start_time" || var == "end_time" %>

        <div class="selectize-control single" style="width: 200px;">
          <div id="<%= var %>-select" class="selectize-input" style="display: inline-block;" data-controller="datepicker">
            <%= hidden_field_tag var, var_params[var], data: { datepicker_target: "input" }  %>
            <span data-datepicker-target="span">Select a date</span>
          </div>
        </div>

      <% else %>
        <%= text_field_tag var, var_params[var], autofocus: i == 0 && !var.end_with?("_at") && !var_params[var], class: "form-control" %>
      <% end %>
      </div>
    <% end %>

    <% if date_vars %>
      <% date_vars.each do |var| %>
        <%= hidden_field_tag var, var_params[var] %>
      <% end %>

      <%= label_tag nil, date_vars.join(" & ") %>
      <div class="selectize-control single" style="width: 300px;">
        <div id="reportrange" class="selectize-input" style="display: inline-block;" data-controller="daterangepicker">
          <span>Select a time range</span>
        </div>
      </div>
    <% end %>

    <input type="submit" class="btn btn-success" value="Run" style="vertical-align: top;" />
  </form>
<% end %>
